@use 'variables' as v;

.grid {
    display: grid;
    grid-template-columns: (7, 252px);
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    width: 236px;
    height: 350px;
    background-color: v.$red; // usa com o namespace "v"
    border-radius: 10px;
}

.item:not(:first-child) {
    margin-top:16px;

}